*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.principal{
    width: 50%;
    height: 50%;
    background-color: aqua;
    font-size: 120px;
}

.adicionarDados {
    width: 50%;
    background-color: aquamarine;
}
